In [1]:
import os
import pandas as pd

In [2]:
def read_csv_to_dataframe(file_path):
    """
    Reads a CSV file and returns a pandas DataFrame.
    
    Parameters:
    file_path (str): The path to the CSV file.
    
    Returns:
    pd.DataFrame: The DataFrame containing the CSV data.
    """
    try:
        df = pd.read_csv(file_path)
        return df
    except Exception as e:
        print(f"Error reading {file_path}: {e}")
        return None

In [ ]:
oleaje_era5=read_csv_to_dataframe('wave_era5_2015.csv')
print(oleaje_era5.head(10))

                   Time        Hs        Tp         Dir
0  01-May-2015 00:00:00  1.033688  6.355257  331.281738
1  01-May-2015 01:00:00  1.004278  6.273386  331.360840
2  01-May-2015 02:00:00  0.973689  6.220096  331.355957
3  01-May-2015 03:00:00  0.942373  6.185501  331.278564
4  01-May-2015 04:00:00  0.912359  6.158005  331.172119
5  01-May-2015 05:00:00  0.884466  6.129316  331.008545
6  01-May-2015 06:00:00  0.858502  6.092018  330.866943
7  01-May-2015 07:00:00  0.834234  6.051621  330.776123
8  01-May-2015 08:00:00  0.811684  6.005931  330.753662
9  01-May-2015 09:00:00  0.791113  5.951072  330.812744

In [8]:
print(oleaje_era5.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    721 non-null    object
 1   Hs      721 non-null    float64
 2   Tp      721 non-null    float64
 3   Dir     721 non-null    float64
dtypes: float64(3), object(1)
memory usage: 22.7+ KB
None

In [7]:
print(oleaje_era5.describe())

               Hs          Tp         Dir
count  721.000000  721.000000  721.000000
mean     0.795872    4.108642   74.637088
std      0.194862    0.467779   53.507414
min      0.444148    3.198732    3.104587
25%      0.643597    3.828000   55.300507
50%      0.757022    4.052625   63.477585
75%      0.930525    4.253168   76.635452
max      1.460274    6.355257  357.379883